body{
    text-align: center;
    background-color: #D8D9DC;
}
h1 {
    font-family: "josefin-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 65pt;
    color: #393B45;
}
h2 {
    font-family: 'Raleway', sans-serif;
    color: #6E7889;
    font-weight: 300;
}
button {
    background-color: #F3B54A;
    border: none;
    padding: 13px 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 10px;
    font-size: 15pt;
    color: #393B45;
    cursor: pointer;
    border: 2px solid #F3B54A;
}

button:hover{
     color: #D8D9DC;
        
}
button:focus{
     border: 2px solid #F3B54A;
     background-color: #D8D9DC;
     color: #393B45;
}
.active{
     border: 2px solid #F3B54A;
     background-color: #D8D9DC;
     color: #393B45;
}
