<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="https://use.typekit.net/vbs6bhz.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/website.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<html>
    <head>
        <title>
            Drink
        </title>
    </head>
<body>
<h1>
    Your drink name:
</h1>
<h1 >
    {{drinks}}
</h1>
<p class="title-text"> Description:</p>
<p style="color:#6E7889">
    {{description}}
</p>

<form action="/" method="get">
    <a href = "website.html"> 
        <button type="submit" id="enter">
            make new drink
        </button>
    </a>    
</form>

<p class="title-text"> Drink types:</p>
<p style="color:#6E7889" id="result">
    {{data}}
</p>
<script>
    // Retrieve data from localStorage
    const selected = localStorage.getItem('input');

    // Check if data exists in localStorage
    if (selected !== null) {
        // Parse the retrieved data
        const parsedData = JSON.parse(selected);
        // Update the DOM with the retrieved data
        const dataContainer = document.getElementById('dataContainer');
        dataContainer.textContent = `Parsed Data: ${JSON.stringify(parsedData)}`;
    } else {
        // Handle case when data does not exist in localStorage
        console.log('No data found in localStorage.');
    }

</script>
</body>
</html>