<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="https://use.typekit.net/vbs6bhz.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/website.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<html>
    <head>
        <title>
            Drink
        </title>
    </head>
<body>
<h1>
    Your drink name:
</h1>
<h1 >
    {{drinks}}
</h1>
<p class="title-text"> Description:</p>
<p style="color:#6E7889">
    {{description}}
</p>

<form action="/new_drinks" method="get">

    <button type="submit" id="enter" onClick="reset(this)">
    </form>  
        make new drink
    </button>



<p class="title-text"> Drink types:</p>
<p style="color:#6E7889" id="result">
    {{data}}
</p>
<script> 
    // Make an HTTP request to Flask when the page loads
    window.onload = function() {
    // You can use any JavaScript HTTP library, such as Fetch or Axios, to make the request
    // Here's an example using Fetch
    fetch('/show_drinks', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        // You can pass any data as needed in the request body
        body: JSON.stringify({data: 'Hello Flask!'})
    })
    .then(response => {
        console.log('Flask route called successfully:', response);
        // Process the response as needed
    })
    .catch(error => {
        console.error('Error calling Flask route:', error);
    });
    };

    // const jsonArray = JSON.stringify(selected);
    //     $.ajax({
    //     url: "/retrieve_drinks",
    //     type: "POST",
    //     data: jsonArray,
    //     contentType: "application/json",
    //     success: function (response) {
    //         console.log("sent");
    //     },
    //     error: function (error) {
    //                     // console.error(error);
    //         },
    //     });
    
    function reset(x) {
        localStorage.removeItem("input");
        
    }

</script>
</body>
</html>